<!-- <div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Login</h4>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="email">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" id="exampleInputPassword1" [(ngModel)]="password">
                        </div>
                        
                        <button type="submit" class="btn btn-info" (click)="login()" >Submit</button>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="/register" style="text-decoration: none;">Need an account?<span class="text-danger">Register</span> </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div> -->
<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="container w-75 mt-5 rounded shadow">
    <div class="row align-items-stretch">
        <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">

        </div>
        <div class="col bg-white p-5 rounded-end">
            <!-- <div class="text-end">
                <img src="https://www.pngfind.com/pngs/m/115-1153649_pokeball-pokemon-pokebola-png-transparent-png.png" width="60px" alt="pokebola">
            </div> -->
            <h2 class="fw-bold text-center py-5">Ingresar</h2>

            <!-- LOGIN -->

            <form action="">
                <div class="mb-4">
                    <label for="email" class="form-label">Correo</label>
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email">
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password">
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary" (click)="login()">Iniciar Sesión</button>
                </div>
                <div class="my-3">
                    <span>¿No tienes cuenta? <a href="/register">Registrate</a></span>
                </div>
            </form>
        </div>
    </div>
</div>