i{
    font-size: 25px;
    cursor: pointer;
    animation-duration: 2s;
    margin-left: 70%;
}

i:hover {
    font-size: 26px;
    cursor: pointer;
    color: rgb(226, 25, 25);
}

.mb-3{
    display: flex;
    align-items: center;
    padding: 10px;
}

.cantidad{
    margin: 15px 0;
    font-family: sans-serif;
    font-style: italic;
}